body{
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color:blueviolet; /* Color de texto blanco */
    text-align: center;
    margin-top: 50px; /* Margen superior para separarlo del resto de los elementos */
  }
.game-container{
    flex-direction:column;
    width: 100%;
    height: 90%;
    border: 1px solid red;
    position: relative;
}

.snake, .food{
    width: 23px;
    height: 22px;
    justify-content: center;
    display: flex;
    position: absolute;
}

.snake{
    background-color: aqua;
}

.food{
    background-image: url('./descarga.jpg');
    background-size: 100% 100%;
}